<!DOCTYPE html>
<!-- saved from url=(0025)https://hextracoin.co/ico -->
<html lang="en"><!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="csrf-token" content="DYfitt8RH2vedASes5TPm1elS9wz3CmytUfUrDfa">
    <title>Hextracoin</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <link href="./Hextracoin_files/jquery-ui.min.css" rel="stylesheet">
    <link href="./Hextracoin_files/bootstrap.min.css" rel="stylesheet">
    <link href="./Hextracoin_files/font-awesome.min.css" rel="stylesheet">
    <link href="./Hextracoin_files/animate.min.css" rel="stylesheet">
    <link href="./Hextracoin_files/style.css" rel="stylesheet">
    <link href="./Hextracoin_files/style-responsive.min.css" rel="stylesheet">
    <link href="./Hextracoin_files/blue.css" rel="stylesheet" id="theme">
    <link href="./Hextracoin_files/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="./Hextracoin_files/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="./Hextracoin_files/intlTelInput.css" rel="stylesheet">
    <script type="text/javascript" async="" src="./Hextracoin_files/analytics.js.tải xuống"></script>
    <script src="./Hextracoin_files/pace.min.js.tải xuống"></script>
    <script async="" src="./Hextracoin_files/js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};gtag('js', new Date());
        gtag('config', 'UA-107311712-1');
    </script>
    <link rel="icon" href="https://hextracoin.co/img/cropped-hextra_coin-01-32x32.png" sizes="32x32">
    <link rel="icon" href="https://hextracoin.co/img/cropped-hextra_coin-01-192x192.png" sizes="192x192">
</head>
<body class="  pace-done">
<div class="pace  pace-inactive">
    <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div>
</div>
<div id="page-container" class="page-container page-sidebar-fixed page-header-fixed in">
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="https://hextracoin.co/" class="navbar-brand text-center">
                    <strong>HEXTRA</strong>
                </a>
                <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="https://hextracoin.co/ico#" class="f-s-14">
                            <div class="today-icon">
                                <img src="./Hextracoin_files/circle.png" alt="Circle" width="30">
                            </div>
                            <span class="text-today">Today Currency</span>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="https://hextracoin.co/ico#" class="f-s-14">1 HXT = BTC 0.00018819</a></li>
                <li class="dropdown"><a href="https://hextracoin.co/ico#" class="f-s-14">1 HXT = USD 1.10</a></li>
                <li class="dropdown"><a href="https://hextracoin.co/ico#" class="f-s-14">1 BTC = USD 5845.00000000</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
        <!-- begin sidebar scrollbar -->
        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
            <div data-scrollbar="true" data-height="100%" data-init="true"
                 style="overflow: hidden; width: auto; height: 100%;">
                <!-- begin sidebar nav -->
                <ul class="nav">
                    <li class="nav-profile">
                        <img src="./Hextracoin_files/coin.png" class="center-block" width="120">

                        <h4 class="text-white p-t-10">
                            <p class="text-center">Jacker Nguyen</p>
                        </h4>
                    </li>

                    <li class="active navbar-menu-bg"><a href="https://hextracoin.co/ico"><img
                                    src="./Hextracoin_files/ico.png" alt="ico" width="20"> <span>Initial Coin Offering (ICO)</span></a>
                    </li>
                    <li class=" navbar-menu-bg"><a href="https://hextracoin.co/wallets"><img
                                    src="./Hextracoin_files/wallet.png" alt="wallet" width="20"> <span>Wallet</span></a>
                    </li>
                    <li class=" navbar-menu-bg"><a href="https://hextracoin.co/transactions"><img
                                    src="./Hextracoin_files/transaction.png" alt="transaction" width="20"> <span>Transaction</span></a>
                    </li>
                    <li class=" navbar-menu-bg"><a href="https://hextracoin.co/network"><img
                                    src="./Hextracoin_files/team.png" alt="team" width="20"> <span>Team</span></a></li>
                    <li class=" navbar-menu-bg"><a href="https://hextracoin.co/settings"><img
                                    src="./Hextracoin_files/settings.png" width="20"> <span>Settings</span></a></li>
                    <li class=" navbar-menu-bg"><a href="https://hextracoin.co/security"><img
                                    src="./Hextracoin_files/security.png" width="20"> <span>Security</span></a></li>
                    <li class=" navbar-menu-bg"><a href="https://hextracoin.co/tools"><img
                                    src="./Hextracoin_files/tools.png" width="20"> <span>Tools</span></a></li>

                    <li class="navbar-menu-bg"><a href="https://hextracoin.co/logout"
                                                  onclick="event.preventDefault(); document.getElementById(&#39;logout-form&#39;).submit();"><img
                                    src="./Hextracoin_files/logout.png" alt="logout" width="20"> <span>Logout</span></a>
                    </li>
                    <form id="logout-form" action="https://hextracoin.co/logout" method="POST" style="display: none;">
                        <input type="hidden" name="_token" value="DYfitt8RH2vedASes5TPm1elS9wz3CmytUfUrDfa">
                    </form>
                </ul>
                <!-- end sidebar nav -->
            </div>
            <div class="slimScrollBar"
                 style="background: rgb(0, 0, 0); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 1248px;"></div>
            <div class="slimScrollRail"
                 style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
        </div>
        <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
    <div id="content" class="content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    <img src="./Hextracoin_files/ico.png" alt="ico" class="header-icon" width="30">
                    Initial Coin Offering (ICO)
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="input-group p-b-10">
                    <input id="ref_url" class="form-control" name="ref_url" type="text"
                           value="https://hextracoin.co/register?referrer=NGUYENGIANG160692">
                    <span class="input-group-btn">
                        <button id="copy-ref-url" class="btn btn-primary" type="button">Copy</button>
                    </span>
                </div>

                <a href="https://hextracoin.co/Hextracoin_EN.pdf" class="btn btn-primary m-b-20" target="_blank"><i
                            class="fa fa-file-pdf-o"></i> Whitepaper (PDF)</a>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <div class="widget widget-stats bg-grey" style="margin-bottom: 10px;">
                    <div class="stats-info">
                        <h4>DAYS &nbsp; &nbsp; HRS &nbsp; &nbsp; &nbsp;MINS &nbsp; &nbsp; SEC</h4>
                        <p>
                            <strong>
                                <span id="ico-in-dd">07</span>
                                :
                                <span id="ico-in-hh">23</span>
                                :
                                <span id="ico-in-mm">58</span>
                                :
                                <span id="ico-in-ss">56</span>
                            </strong>
                        </p>

                        <script>
                            var end_in = 1509393599;
                            setInterval(function(){
                                var d                      = new Date();
                                var current_timestamp      = Math.floor(d.getTime() / 1000);
                                var ico_end_diff_timestamp = end_in - current_timestamp;
                                if(ico_end_diff_timestamp > 0){
                                    document.getElementById('ico-in-dd').innerHTML = pad(Math.floor((ico_end_diff_timestamp / 86400)), 2);
                                    document.getElementById('ico-in-hh').innerHTML = pad(Math.floor((ico_end_diff_timestamp % 86400) / 3600), 2);
                                    document.getElementById('ico-in-mm').innerHTML = pad(Math.floor((ico_end_diff_timestamp % 3600) / 60), 2);
                                    document.getElementById('ico-in-ss').innerHTML = pad(Math.floor(ico_end_diff_timestamp % 60), 2);
                                }
                            }, 1000);
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="row m-t-10">
            <div class="col-md-6">
                <div class="col-md-12 p-0">
                    <div class="widget widget-stats bg-blue" style="margin-bottom: 10px;">
                        <div class="stats-info">
                            <h4><img src="./Hextracoin_files/h.png" alt="h" width="18"> HXT

                            </h4>
                            <p class="text-center"><strong>236.00000000</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="widget widget-stats bg-blue" style="margin-bottom: 10px;">
                        <div class="stats-info">
                            <h4><i class="fa fa-btc" aria-hidden="true"></i> BTC

                            </h4>
                            <p class="text-center"><strong>0.05031612</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-0">

                </div>
                <div class="col-md-12 p-0">
                    <div class="alert alert-warning bg-blue text-white" style="position: relative;">
                        <div class="pull-left p-r-15">
                            <img src="./Hextracoin_files/notification-open.png" alt="notification" width="60">
                        </div>
                        <div class="pull-left notification">
                            Since market demand is very high to Hextracoin, We decided to make daily sales quota for
                            ICO.<br>
                            <span class="text-warning">Limited 300,000 HextraCoins a day.</span><br>
                            Thank you for your kind attention.<br>

                            <div class="pull-left notification">
                                Opened
                                <span id="opened-hh">00</span> hrs
                                <span id="opened-mm">01</span> mins
                                <span id="opened-ss">03</span> sec.
                            </div>

                            <script>
                                var opened = 1508702400;
                                setInterval(function(){
                                    var d                                          = new Date();
                                    var current_timestamp                          = Math.floor(d.getTime() / 1000);
                                    var diff_timestamp                             = current_timestamp - opened;
                                    document.getElementById('opened-hh').innerHTML = pad(Math.floor((diff_timestamp % 86400) / 3600), 2);
                                    document.getElementById('opened-mm').innerHTML = pad(Math.floor((diff_timestamp % 3600) / 60), 2);
                                    document.getElementById('opened-ss').innerHTML = pad(Math.floor(diff_timestamp % 60), 2);
                                }, 1000);
                            </script>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 p-0">
                    <div class="widget widget-stats bg-blue" style="margin-bottom: 10px;">
                        <div class="stats-info">
                            <h4>Total Available Coin:</h4>
                            <p class="text-center"><strong>2,136,150 HXT</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="widget widget-stats bg-blue" style="margin-bottom: 10px;">
                        <div class="stats-info">
                            <h4>Sold Coin:</h4>
                            <p class="text-center"><strong>6,863,850 HXT</strong></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="widget widget-stats bg-blue" style="margin-bottom: 10px;">
                        <div class="stats-info">
                            <h4>ICO Today: 300,000 HXT</h4>
                            <p style="font-size: 18px">
                                <strong>
                                    Sold : 263,850 HXT<br>
                                    Available : 36,150 HXT
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 ui-sortable">
                <div class="panel panel-inverse">
                    <div class="panel-heading bg-grey">
                        <h4 class="text-white">Fill Amount</h4>
                    </div>
                    <div class="panel-body">
                        <form method="POST" action="/" accept-charset="UTF-8" id="ico-form">
                            <input name="_token" type="hidden" value="DYfitt8RH2vedASes5TPm1elS9wz3CmytUfUrDfa">


                            <div class="alert alert-warning">
                                Your buy order is placed in queue for processing. If the order get cancelled, no BTC
                                will be deducted from your wallet.
                            </div>

                            <div class="row row-space-10 m-b-15">
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input id="hxt_amount" class="form-control" placeholder="Amount in HXT" min="0"
                                               name="hxt_amount" type="number">
                                        <span class="input-group-addon">HXT</span>
                                    </div>
                                    <span id="helpBlock2" class="help-block">
                                        Min = 50 Max = 200 HXT
                                                                                (<a href="https://hextracoin.co/ico#"
                                                                                    data-fill="#hxt_amount"
                                                                                    data-fill-text="200">Buy All: 200 HXT</a>)
                                    </span>
                                </div>
                                <div class="col-xs-6">
                                    <div class="input-group">
                                        <input id="btc_amount" class="form-control" readonly="" name="btc_amount"
                                               type="text" value="">
                                        <span class="input-group-addon">BTC</span>
                                    </div>
                                </div>
                            </div>

                            <input name="price" type="hidden" value="1.10">

                            <div class="row row-space-10 m-b-15">
                                <div class="col-xs-12">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Total USD</th>
                                            <th>Pay BTC</th>
                                            <th>Receive HXT</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td width="33%"><span id="total_usd">220.00</span> USD</td>
                                            <td width="33%"><span id="pay_btc">0.03763800</span></td>
                                            <td width="34%"><span id="receive_hxt">200</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-xs-6">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="agree" id="agree"> I agree payment will be
                                            deduct from my BTC wallet.
                                        </label>
                                    </div>
                                    <input id="password" class="form-control" placeholder="Enter password"
                                           name="password" type="password" value="">

                                    <br>
                                    Please enter the following number below:
                                    <img src="./Hextracoin_files/images/<%= image %>">
                                    <input class="form-control" name="captcha_secret" type="hidden"
                                           value="<%= image.substring(0, image.length - 4) %>">
                                    <input class="form-control" name="captcha_key" type="hidden" value="">
                                    <input class="form-control" name="captcha_key2" type="text" value="">
                                </div>
                            </div>

                            <input name="hidden_key" type="hidden" value="0">
                            <input name="hidden_secret" type="hidden" value="npm8">

                            <button type="button" class="btn btn-sm btn-primary m-r-5">Buy HXT</button>
                            <button type="reset" class="btn btn-sm btn-default">Clear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="recent-transactions" class="row">
            <div class="col-md-12 ui-sortable">
                <div class="panel panel-inverse">
                    <div class="panel-heading bg-grey">
                        <h4 class="text-white">Today Transactions</h4>
                    </div>
                    <div class="panel-body">
                        Processing...
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i
                class="fa fa-angle-up"></i></a>
</div>
<script src="./Hextracoin_files/jquery-1.9.1.min.js.tải xuống"></script>
<script src="./Hextracoin_files/jquery-migrate-1.1.0.min.js.tải xuống"></script>
<script src="./Hextracoin_files/jquery-ui.min.js.tải xuống"></script>
<script src="./Hextracoin_files/bootstrap.min.js.tải xuống"></script>
<!--[if lt IE 9]>
<script src="/assets/crossbrowserjs/html5shiv.js"></script>
<script src="/assets/crossbrowserjs/respond.min.js"></script>
<script src="/assets/crossbrowserjs/excanvas.min.js"></script>
<![endif]-->
<script src="./Hextracoin_files/jquery.slimscroll.min.js.tải xuống"></script>
<script src="./Hextracoin_files/jquery.cookie.js.tải xuống"></script>
<script src="./Hextracoin_files/jquery.dataTables.js.tải xuống"></script>
<script src="./Hextracoin_files/dataTables.bootstrap.min.js.tải xuống"></script>
<script src="./Hextracoin_files/dataTables.responsive.min.js.tải xuống"></script>
<script src="./Hextracoin_files/highcharts.js.tải xuống"></script>
<script src="./Hextracoin_files/exporting.js.tải xuống"></script>
<script src="./Hextracoin_files/apps.min.js.tải xuống"></script>
<script>$(document)
        .ready(function(){App.init();});</script>
<script>
    $(document)
        .ready(function(){
            $('button[type=submit]')
                .prop('disabled', false);
            $('#ico-form')
                .submit(function(){
                    $(this)
                        .children('button[type=submit]')
                        .prop('disabled', true);
                });

        })
    var hxt_to_btc = 0.00018819;
    var hxt_to_usd = 1.10;
    var btc_to_usd = 5845.00000000;
</script>
<script src="./Hextracoin_files/hextracoin.js.tải xuống"></script>


</body>
</html>